<main class="main">
	<div class="container-fluid">
		<div id="ui-view">
			<br />
			<br />

			{{!-- <form enctype="multipart/form-data" method="post" class="container-fluid">

				<div class="animated fadeIn">

					<div class="row">
						<div class="col-sm-6" hidden>
							<div class="card">
								<div class="card-header">1.
									<strong>Personal</strong>
									<small>Information</small>
								</div>

								{{#if user}}
								<div class="card-body">
									<div class="row">
										<div hidden class="col-sm-12">
											<div class="form-group">
												<label for="name">UID</label>
												<input class="form-control" id="posterId" name="posterId"
													value="{{user._id}}" type="text" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label for="name">Name</label>
												<input class="form-control" id="name" name="landlordname"
													value="{{user.firstName}} {{user.lastName}}" type="text"
													placeholder="Enter your name">
											</div>
										</div>
									</div>
									<!-- /.row-->
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label for="name">Email</label>
												<input class="form-control" id="email" value="{{user.email}}"
													type="text" placeholder="Enter your email address">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label for="name">Phone Number</label>
												<input class="form-control" id="mobilenumber" name="landlordmobilenumber"
													value={{user.mobileNumber}} type="text"
													placeholder="Enter your mobile number">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label for="name">Ghana Post Address</label>
												<input class="form-control" id="address" type="text"
													placeholder="GP-00098-54">
											</div>
										</div>
									</div>

								</div>
								{{else}}
								<div class="card-body">

									<div class="row">
										<div hidden class="col-sm-12">
											<div class="form-group">
												<label for="name">UID</label>
												<input hidden class="form-control" id="posterId" value={{userData._id}}
													name="posterId" type="text" placeholder="">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label for="name">Name</label>
												<input required class="form-control" id="name" type="text" name="landlordname"
													value={{userData.fullName}} name="" placeholder="Enter your name">
											</div>
										</div>
									</div> --}}
									<!-- /.row-->
									{{!-- <div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label for="name">Email</label>
												<input required class="form-control" id="email" type="email"
													value={{userData.email}} placeholder="Enter your email address">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label for="name">Phone Number</label>
												<input required class="form-control" id="mobilenumber" name="landlordmobilenumber" type="tel"
													value={{userData.mobileNumber}}
													placeholder="Enter your mobile number">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label for="name">Ghana Post Address</label>
												<input required class="form-control" id="address" type="text"
													placeholder="GP-00098-54">
											</div>
										</div>
									</div>

								</div>
								{{/if}}
							</div>
						</div> --}}

						{{!-- <div class="col-sm-12">
							<div class="card">
								<div class="card-header">1.
									<strong>Property</strong>
									<small>Information</small>
								</div>
								<div class="card-body">

									<div class="row">

										<div class="form-group col-md-8">
											<select class="form-control" id="select1" name="propertyType">
												<option value="0">Select type</option>
												<option value="Apartment">Apartment</option>
												<option value="Chamber&Hall">Chamber&Hall</option>
												<option value="Single Room">Single Room</option>
											</select>
										</div>
										<div class="form-group col-sm-4">
											<input placeholder="Price" class="form-control" id="postal-code" name="pprice" type="number"
												placeholder="Property price">
										</div>
									</div>

									<div class="row">
										<div class="form-group col-sm-8">
											<input class="form-control" id="city" name="numberOfRooms" type="text"
												placeholder="No. of rooms">
										</div>
										<div class="form-group col-sm-4">
											<select class="form-control" id="ccmonth" name="levelName">
												<option>Select Property Level</option>
												{{#each levelData}}
												<option itemid="levelName" value="{{levelName}}">{{levelName}}</option>
												{{/each}}
											</select>
										</div>
									</div>

									<div class="form-group row">
										<div class="form-group col-sm-8">
											<input  class="form-control" id="postal-code" name="numberOfWashrooms" type="number" placeholder="Number Of Washrooms">
										</div>
										<label class="col-md-2 col-form-label">Do you Have A Guarrage?</label>
										<div class="col-md-2 col-form-label">
											<div class="form-check form-check-inline mr-1">
												<input class="form-check-input" id="inline-radio1" type="radio" value="true" name="hasguarrage">
												<label class="form-check-label" for="inline-radio1">Yes</label>
											</div>
											<div class="form-check form-check-inline mr-1">
												<input class="form-check-input" id="inline-radio2" type="radio" value="false" name="hasguarrage">
												<label class="form-check-label" for="inline-radio2">No</label>
											</div>
										</div>
									</div>

									<div class="form-group row">
										<div class="col-md-12">
											<textarea class="form-control" id="textarea-input" name="pdesc" rows="4"
												placeholder="Property description..."></textarea>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-12">
						<div class="card">
							<div class="card-header">2.
								<strong>Select images</strong>
								<small>for the property</small>
							</div>
							<div class="card-body">
								<div class="form-group row">
									<div class="col-md-9">
										<input id="file-multiple-input" type="file" name="photos" multiple="">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">2.
									<i class="fa fa-globe"></i>Location Information</div>
								<div class="card-body">
									<div class="form-horizontal">

										<div class="form-group">
											<label class="col-form-label">Add Location From Map</label>
											<div class="controls">
												<div class="input-group">
													<input class="form-control" name="coordinates" id="coordinates"
														size="16" type="text">
													<span class="input-group-append">
														<button onclick=getlocation() class="btn btn-secondary"
															type="button">Go!</button>
													</span>
													<script>
														function getlocation() {
															$.get("https://ipinfo.io", function (response) {
																console.log(response.ip, response.country, response.loc, response);
																document.getElementById("country").value = response.country;
																document.getElementById("region").value = response.region;
																document.getElementById("cities").value = response.city;
																document.getElementById("coordinates").value = response.loc;
															}, "jsonp")
														}
													</script>
												</div>
											</div>
										</div>

										<div class="form-group">
											<label class="col-form-label" for="prependedInput">Country</label>
											<div class="controls">
												<div class="input-prepend input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">@</span>
													</div>
													<input class="form-control" name="pcountry" id="country" size="16" type="text">
												</div>
												<p class="help-block">You can change</p>
												<script>
													function allow() {

													}
												</script>
											</div>
										</div>
										<div class="form-group">
											<label class="col-form-label" for="appendedInput">Region</label>
											<div class="controls">
												<div class="input-group">
													<div class="input-group-append">
														<span class="input-group-text">@</span>
													</div>
													<input class="form-control" name="pregion" id="region" size="16"
														type="text">
												</div>
												<span class="help-block"></span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-form-label" for="appendedInput">City</label>
											<div class="controls">
												<div class="input-group">
													<div class="input-group-append">
														<span class="input-group-text">@</span>
													</div>
													<input class="form-control" id="cities" name="pcity" size="16"
														type="text">
												</div>
												<span class="help-block"></span>
											</div>
										</div>

										<div class="form-actions">
											<button class="btn btn-primary" type="submit">Save changes</button>
											<button class="btn btn-secondary" type="reset">Cancel</button>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</form> --}}


		</div>
	</div>
</main>
