<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{title}}</title>

	<link rel="stylesheet" href="/css/styling.css">
	<link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
	<link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
	<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

	<link href="/css/style.css" rel="stylesheet">
	<link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-118965717-1', 'auto');
		ga('send', 'pageview');
	</script>

	{{!-- second code --}}
	<link rel="stylesheet" href="/fonts/feather/feather.min.css">
    <link rel="stylesheet" href="/libs/highlight/styles/vs2015.min.css">
    <link rel="stylesheet" href="/libs/quill/dist/quill.core.css">
    <link rel="stylesheet" href="/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/libs/flatpickr/dist/flatpickr.min.css">

	<link href="/css/theme-dark.min.css" rel="" data-toggle="theme" data-theme-mode="dark">
    {{!-- <link href="/css/theme.min.css" rel="" data-toggle="theme" data-theme-mode="light"> --}}

	<script>
      var themeMode = (localStorage.getItem('dashkitThemeMode')) ? localStorage.getItem('dashkitThemeMode') : 'light';
      var themeFile = document.querySelector('[data-toggle="theme"][data-theme-mode="' + themeMode + '"]');

      // Enable stylesheet
      themeFile.rel = 'stylesheet';

      // Enable body content
      themeFile.addEventListener('load', function() {
        document.body.style.display = 'block';
      });
    </script>

</head>

<body>
	{{{body}}}

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="vendors/jquery/js/jquery.min.js"></script>
	<script src="vendors/popper.js/js/popper.min.js"></script>
	<script src="vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendors/pace-progress/js/pace.min.js"></script>
	<script src="vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
	<script src="vendors/@coreui/coreui-pro/js/coreui.min.js"></script>

	{{!-- second ui codes --}}
    <script src="libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="libs/chart.js/dist/Chart.min.js"></script>
    <script src="libs/chart.js/Chart.extension.min.js"></script>
    <script src="libs/highlight/highlight.pack.min.js"></script>
    <script src="libs/flatpickr/dist/flatpickr.min.js"></script>
    <script src="libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="libs/list.js/dist/list.min.js"></script>
    <script src="libs/quill/dist/quill.min.js"></script>
    <script src="libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="libs/select2/dist/js/select2.min.js"></script>

    <!-- Theme JS -->
    {{!-- <script src="js/theme.min.js"></script> --}}
</body>

</html>
