<main class="main">
	<div class="container-fluid">
		<div id="ui-view">

			{{!-- {{#if failed}}
			<div class="row">
				<div class="card-body col-sm-5">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Hello Admin!</strong> You should a new level name below.
						<strong>{{data.levelName}}</strong> is already created.
						<button class="close" type="button" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
			{{else}}
			<br />
			{{/if}} --}}

			{{!-- {{#if errorMessage}}
			<div class="row">
				<div class="card-body col-sm-5">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Hello Admin!</strong> I think you should know this,
						<strong>{{errorMessage}}</strong>.
						<button class="close" type="button" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
			{{else}}
			{{/if}}

			{{#if message}}
			<div class="row">
				<div class="card-body col-sm-5">
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<strong>Hello Admin!</strong> I think you should know this,
						<strong>{{message.levelName}} has successfully been created.</strong>.
						<button class="close" type="button" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
			{{else}}

			{{/if}}

			<div class="row">
				<div class="col-sm-5">
					<div class="card">
						<div class="card-header">
							<strong>New Level/Rate</strong> Form</div>
						<div class="card-body">
							<form method="post" enctype="application/x-www-form-urlencoded">
								<div class="form-group">
									<label class="form-col-form-label" for="">Level Name</label>
									<input class="form-control" id="levelname" name="levelName" type="text"
										placeholder="Enter Level Name">
								</div>
								<div class="form-group">
									<label class="form-col-form-label" for="">Level Rate GH¢</label>
									<input class="form-control" id="levelRate" name="levelRate" type="number"
										placeholder="Enter Level Rate">
									<div class="invalid-feedback">Please provide a valid informations.</div>
								</div>
								<div id="creategroup" class="form-group">
									<button type="submit" class="btn btn-pill btn-block btn-primary">CREATE
										LEVEL</button>
								</div>
							</form>
							<div id="updategroup" hidden class="form-group">
									<button id="updateBtn" onclick=updateNow() class="btn btn-pill btn-block btn-primary">UPDATE
										LEVEL</button>
								</div>
						</div>
					</div>
				</div> --}}

				{{!-- <div class="col-lg-7">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-align-justify"></i> Manage Levels</div>
						<div class="card-body">
							<table class="table table-responsive-sm table-bordered">
								<thead>
									<tr>
										<th>Level Name</th>
										<th>Level Rate</th>
									</tr>
								</thead>
								<tbody>
									{{#each allData}}
									<tr>
										<td hidden>{{_id}}</td>
										<td>{{levelName}}</td>
										<td>GH¢ {{levelRate}}.00</td>
										<td>
											<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
												<button class="btn btn-block btn-danger active" id="lId" onclick=deleteMethod() value="{{_id}}" aria-pressed="true">Delete</button>
											</div>
										</td>
										<td>
											<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
												<button class="btn btn-block btn-primary active" id="lId" onclick=callUpdate() value="{{_id}}" aria-pressed="true">Update</button>
											</div>
										</td>
									</tr>
									{{/each}}

									<script>
										var table = document.getElementsByTagName("table")[0];
										var tbody = table.getElementsByTagName("tbody")[0];

										function deleteMethod() {
											window.location.reload();
											tbody.onclick = function (e) {
												e = e || window.event;
												var data = [];
												var target = e.srcElement || e.target;
												while (target && target.nodeName !== "TR") {
													target = target.parentNode;
												}
												if (target) {
													var cells = target.getElementsByTagName("td");
													for (var i = 0; i < cells.length; i++) {
														data.push(cells[i].innerText);
													}
												}
												console.log("id: " + data[0]);

												axios.delete('/levels', {
													data:{
														levelId: data[0]
													}
												}).then((res) => {
													console.log(res)
													window.location.reload();
												})
											};
										}

										//update level
										var levelName = document.getElementById('levelname');
										var levelRate = document.getElementById('levelRate');

										var lName = '';
										var lRate = '';
										var ids = '';
										function callUpdate(){
											tbody.onclick = function (e) {
												e = e || window.event;
												var data = [];
												var target = e.srcElement || e.target;
												while (target && target.nodeName !== "TR") {
													target = target.parentNode;
												}
												if (target) {
													var cells = target.getElementsByTagName("td");
													for (var i = 0; i < cells.length; i++) {
														data.push(cells[i].innerText);
													}
												}

												ids = data[0];
												lName = data[1];
												lRate = data[2];

												callOutMethod(ids,lName,lRate);
											};

											function callOutMethod(iding,naming,rates){
												console.log("id: " + iding);
												console.log("name: " + naming);
												console.log("rate: " + rates);

												var splitter = rates.split(" ");

												const amount = parseInt(splitter[1]);
												console.log(amount);

												levelName.setAttribute('value',naming);
												levelRate.setAttribute('value', amount);

												document.getElementById('updategroup').hidden=false;
												document.getElementById('creategroup').hidden=true;
											}
										}

										function updateNow() {
											console.log(ids);
											console.log(levelRate.value);
											window.location.reload();
											$.ajax({
												method: 'patch',
												url: '/levels',
												data: {
													'levelId': ids,
													'levelName': lName,
													'levelRate': levelRate.value
												}
											}).done(function (msg) {
												console.log(msg);
												window.location.reload();
											});
										}
									</script>
								</tbody>
							</table>

						</div>
					</div>
				</div>

			</div> --}}

		</div>
	</div>
</main>
