<div class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card-group">
					<div class="card p-4">
						<div class="card-body">
							<h1>Login</h1>
							<p class="text-muted">Sign In to your account</p>
							<form method="post">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="icon-user"></i>
										</span>
									</div>
									<input class="form-control" type="tel" name="mobilenumber" placeholder="Phone Number">
									</div>
									<div class="input-group mb-4">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="icon-lock"></i>
											</span>
										</div>
										<input class="form-control" name="password" type="password" placeholder="Password">
									</div>
									<div class="row">
										<div class="col-6">
											<button type="submit" class="btn btn-primary px-4" type="button">Login</button>
										</div>
										<div class="col-6 text-right">
											<button class="btn btn-link px-0" type="button">Forgot password?</button>
										</div>
								</div>
							</form>
						</div>
					</div>
					<div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
						<div class="card-body text-center">
							<div>
								<h2>Sign up</h2>
								<p><img src="/images/pmlogo.png" alt="DHC logo" class="roundimage2"></p>
								<button onclick=gotologin() class="btn btn-primary active mt-3" type="button">Register Now!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function gotologin(){
		console.log("not logged in");
		window.location = '/register';
	}
</script>
