{{!-- <main class="main">
	<div class="container-fluid">
		<div id="ui-view">
			<br/>
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-align-justify"></i> All Properties</div>
						<div class="card-body">
							<table id="myTable" class="table table-responsive-sm table-bordered table-striped table-sm">
								<thead>
									<tr>
										<th>Property Name</th>
										<th>Added Date</th>
										<th>Added By</th>
										<th>Status</th>
										<th>Rate Per View</th>
										<th>Location</th>
										<th class="actionsBtn">View | Delete</th>
									</tr>
								</thead>
								<tbody>
									{{#each data}}
										<tr>
											<td hidden id="objectId">{{_id}}</td>
											<td>{{numberOfRooms}} Bed Rooms,{{propertyType}},{{city}}</td>
											<td>{{dateAdded}}</td>
											<td>{{landlordName}}</td>
											<td>
												<span class="badge badge-success">Online</span>
											</td>
											<td>GH¢ {{propertyLevelRate}}</td>
											<td>{{city}}</td>
											<td>
												<div class="row">
													<form action="/propertydetail" enctype="application/x-www-form-urlencoded" method="POST">
														<input hidden type="text" name="propertyId" value={{_id}} id="variables">
														<div class="col-6">
															<button type="submit" id="viewBtn" class="btn btn-sm btn-primary">
																View
															</button>
														</div>
													</form>
													|
													<div class="col-5">
														<a id="deleteBtn" onclick=deleteMethod() class="btn btn-sm btn-danger">
															Delete
														</a>
													</div>
												</div>

											</td>
										</tr>
									{{/each}}
								</tbody>
							</table>
							<style>
								.btn{
									margin-left: 0px;
									display: flex;
									justify-content: center;
									align-items: center;
								}

								.actionsBtn{
									text-align: center;
								}
							</style>
							<nav>
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" href="#">Prev</a>
									</li>
									<li class="page-item active">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">4</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">Next</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<!-- /.col-->
			</div>

		</div>
	</div>

	<script>

		var table = document.getElementsByTagName("table")[0];
		var tbody = table.getElementsByTagName("tbody")[0];

		function deleteMethod(){
				window.location.reload();
				tbody.onclick = function (e) {
				e = e || window.event;
				var data = [];
				var target = e.srcElement || e.target;
				while (target && target.nodeName !== "TR") {
					target = target.parentNode;
				}
				if (target) {
					var cells = target.getElementsByTagName("td");
					for (var i = 0; i < cells.length; i++) {
						data.push(cells[i].innerText);
					}
				}
				console.log(data[0]);

				axios.post('/myproperty',{
					propId: data[0]
				}).then((err,res) => {
					console.log(res)
					window.location.reload();
				})
			};
		}

		function viewMoreMethod(){
				//window.location.reload();
				tbody.onclick = function (e) {
				e = e || window.event;
				var data = [];
				var target = e.srcElement || e.target;
				while (target && target.nodeName !== "TR") {
					target = target.parentNode;
				}
				if (target) {
					var cells = target.getElementsByTagName("td");
					for (var i = 0; i < cells.length; i++) {
						data.push(cells[i].innerText);
					}
				}
			};
		}
	</script>

</main> --}}
