<main class="main">
	<div class="container-fluid">
		<div id="ui-view">

			{{!-- <style>
				.card {
					margin: 50px;
				}

				.cover-image {

				}
			</style>

			<div class="card">


				<div class="card-body text-center">

					<a class="avatar avatar-xl card-avatar card-avatar-top">
						<img src="/images/pmlogo.png" class="avatar-img rounded-circle border border-4 border-card"
							alt="...">
					</a>

					<h2 class="card-title">
						<a>{{userData.firstName}} {{userData.lastName}}</a>
					</h2>

					<p class="card-text text-muted">
						<small>
							Email: {{userData.email}}
						</small>
					</p>
					<p class="card-text text-muted">
						<small>
							Mobile: {{userData.mobileNumber}}
						</small>
					</p>
					<p class="card-text text-muted">
						<small>
							Location: {{userData.location}}
						</small>
					</p>

					<p class="card-text">
						<span class="badge badge-soft-secondary">
							{{userData.type}}
						</span>
						<span class="badge badge-soft-secondary">
							@{{userData.lastName}}
						</span>
					</p>

					<hr>

					<div class="row align-items-center justify-content-between">
						{{#if userData.isAdmin}}
						<div class="col-auto">
							<small>
								<span class="text-success">●</span> Admin
							</small>
						</div>
						{{else}}
						<div class="col-auto">
							<small>
								<span class="text-primary">●</span> {{userData.type}}
							</small>
						</div>
						{{/if}}

						<div class="col-auto">

							<a class="btn btn-sm btn-primary">
								Edit Profile
							</a>

						</div>
					</div>

				</div> --}}

			</div>
		</div>
	</div>
</main>
