{{!-- <main class="main">
	<div class="container-fluid">
		<div id="ui-view">
			<br/>
			<style>
				.sides{
					margin: 8px;
					padding: 8px;
				}
			</style>
			{{!-- content goes here --}}
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-sm-6">
						<br/>
						<br/>
						<div class="row">
							<table class="table table-responsive-sm table-striped table-sm">
								<tbody>
									<tr><td><span>Date Added:</span><td class=" text-left">{{data.dateAdded}}</td></td></tr>
									<tr><td><span>Added By:</span><td class=" text-left">{{data.landlordName}}</td></td></tr>
									<tr><td><span>Number Of Paid Views:</span><td class=" text-left">{{data.numberOfViews}} views</td></td></tr>
									<tr><td><span>Number Of Rooms:</span><td class=" text-left">{{data.numberOfRooms}}</td></td></tr>
									<tr><td><span>Number Of Washrooms:</span><td class=" text-left">{{data.numberOfWashrooms}}</td></td></tr>
									<tr><td><span>Location:</span><td class=" text-left">{{data.city}}</td></td></tr>
									<tr><td><span>Level:</span><td class=" text-left">{{data.propertyLevel}}</td></td></tr>
									<tr><td><span>Rate:</span><td class=" text-left">GH¢ {{data.propertyLevelRate}}</td></td></tr>
									{{#if data.isRented}}
										<tr><td><span>Status:</span><td class=" text-left"><span class="badge badge-danger">Offline</span></td></td></tr>
									{{else}}
										<tr><td><span>Status:</span><td class=" text-left"><span class="badge badge-success">Online</span></td></td></tr>
									{{/if}}
								</tbody>
							</table>

						</div>
					</div>
					<div class="col-sm-6">
						<h3 class="text-center">Property Description</h3>
						<p class=" sides border btn-outline-white">
							{{data.propertyDesc}}.</p>
					</div>
				</div>
			</div>
			{{!-- Property image carousels --}}
			{{!-- Add Images --}}
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group row">
						<div class="col-md-12">
							{{!-- <div action="/addproperty" class="drop-card dropzone"></div> --}}

							<div action="/addproperty" class="dropzone dz-clickable">
								<div class="dz-default dz-message"><span>Drop files here to upload</span></div>
								<input type="image" multiple="multiple" class="dz-hidden-input"
									style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
							</div>

							<style>
								.dropzone {
									position: relative;
									display: flex;
									flex-direction: column;
									min-width: 0;
									word-wrap: break-word;
									border: 1px solid #1e3a5c;
									border-radius: .5rem;
									background-color: #232629;
									background-clip: border-box;
								}

								.dropzone .dz-preview.dz-image-preview {
									background: #1c212600;
								}

								.dz-message {
									z-index: 999;
									padding: 5rem 1rem;
									cursor: pointer;
									transition: all .2s ease-in-out;
									text-align: center;
									color: #6e84a3;
									border: 1px dashed #111821;
									border-radius: .375rem;
									background-color: #1c2126;
									order: -1;
								}
							</style>

						</div>
					</div>
				</div>
			</div>

			<div class="form-actions">
				<button class="btn btn-primary" type="submit">Save changes</button>
				<button class="btn btn-danger" type="reset">Delete</button>
			</div>
		</div>
	</div>
</main> --}}
