<div class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card-group">
					<div class="card p-4">
						<div class="card-body">
							<h1>Register</h1>
							<p class="text-muted">Register For Your Account</p>
							<form method="post">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="icon-user"></i>
										</span>
									</div>
									<input class="form-control" type="text" name="firstname" placeholder="First Name">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="icon-user"></i>
										</span>
									</div>
									<input class="form-control" type="text" name="lastname" placeholder="Last Name">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="icon-envelope"></i>
										</span>
									</div>
									<input class="form-control" type="email" name="email" placeholder="Email">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="icon-phone"></i>
										</span>
									</div>
									<input class="form-control" type="tel" name="mobilenumber" placeholder="Phone Number">
								</div>
                                <div class="form-group">
                                    <select class="form-control" id="select1" name="gender">
                                        <option value="0">Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="age" name="age" type="number" placeholder="Enter Age">
                                    <div class="invalid-feedback">Please provide a valid informations.</div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="location" name="location">
                                        <option value="0">Select location</option>
                                        <option value="Achimota">Achimota</option>
                                        <option value="Tesano">Tesano</option>
                                        <option value="East Legon">East Legon</option>
                                        <option value="Spintex">Spintex</option>
                                        <option value="Abeka La Paz">Abeka La Paz</option>
                                        <option value="Abelemkpe">Abelemkpe</option>
                                        <option value="Ablorh Adjei">Ablorh Adjei</option>
                                        <option value="Abokobi">Abokobi</option>
                                        <option value="Aborfu">Aborfu</option>
                                        <option value="Abossey Okai">Abossey Okai</option>
                                        <option value="Accra Central">Accra Central</option>
                                        <option value="Accra new Town">Accra new Town</option>
                                        <option value="Adabraka">Adabraka</option>
                                        <option value="Adenta">Adenta</option>
                                        <option value="Adjankote">Adjankote</option>
                                        <option value="Adjiriganor">Adjiriganor</option>
                                        <option value="Agbogba">Agbogba</option>
                                        <option value="Agbogbloshie">Agbogbloshie</option>
                                        <option value="Airport">Airport</option>
                                        <option value="Akatsi Abor">Akatsi Abor</option>
                                        <option value="Akweteman">Akweteman</option>
                                        <option value="Alajo">Alajo</option>
                                        <option value="Apenkwa">Apenkwa</option>
                                        <option value="Ashaley Botwe">Ashaley Botwe</option>
                                        <option value="Ashongman Estates">Ashongman Estates</option>
                                        <option value="Asylum Down">Asylum Down</option>
                                        <option value="Avenor">Avenor</option>
                                        <option value="Awoshie">Awoshie</option>
                                        <option value="Banana Inn">Banana Inn</option>
                                        <option value="Bubuashie">Bubuashie</option>
                                        <option value="Bukom">Bukom</option>
                                        <option value="Burma Camp">Burma Camp</option>
                                        <option value="Cantonments">Cantonments</option>
                                        <option value="Carprice">Carprice</option>
                                        <option value="Chantang">Chantang</option>
                                        <option value="Chorkor">Chorkor</option>
                                        <option value="Circle">Circle</option>
                                        <option value="Dansoman">Dansoman</option>
                                        <option value="Darkuman">Darkuman</option>
                                        <option value="Dome">Dome</option>
                                        <option value="Dzorwulu">Dzorwulu</option>
                                        <option value="East Legon (Okponglo)">East Legon (Okponglo)</option>
                                        <option value="Kanda Estate">Kanda Estate</option>
                                        <option value="Haatso">Haatso</option>
                                        <option value="Kaneshie">Kaneshie</option>
                                        <option value="Kantamanto">Kantamanto</option>
                                        <option value="Kasoa">Kasoa</option>
                                        <option value="Kokomlemle">Kokomlemle</option>
                                        <option value="Korle Gonno">Korle Gonno</option>
                                        <option value="Korle-Bu">Korle-Bu</option>
                                        <option value="Kotobabi">Kotobabi</option>
                                        <option value="Kwabenya">Kwabenya</option>
                                        <option value="Kwashieman">Kwashieman</option>
                                        <option value="La-Aborm">La-Aborm</option>
                                        <option value="Labone">Labone</option>
                                        <option value="Lartebiokorshie">Lartebiokorshie</option>
                                        <option value="Lashibi">Lashibi</option>
                                        <option value="Legon">Legon</option>
                                        <option value="Madina">Madina</option>
                                        <option value="Mallam">Mallam</option>
                                        <option value="Mallam Atta">Mallam Atta</option>
                                        <option value="Mamobi">Mamobi</option>
                                        <option value="Mamprobi">Mamprobi</option>
                                        <option value="Mataheko">Mataheko</option>
                                        <option value="McCarthy Hill">McCarthy Hill</option>
                                        <option value="New Achimota">New Achimota</option>
                                        <option value="New Aplaku Mandela">New Aplaku Mandela</option>
                                        <option value="New Ashongman">New Ashongman</option>
                                        <option value="New Fadama">New Fadama</option>
                                        <option value="New Mamprobi">New Mamprobi</option>
                                        <option value="New Weija">New Weija</option>
                                        <option value="Nii Boi Town">Nii Boi Town</option>
                                        <option value="Nima">Nima</option>
                                        <option value="North Kaneshie">North Kaneshie</option>
                                        <option value="North Legon">North Legon</option>
                                        <option value="North Ridge">North Ridge</option>
                                        <option value="Nungua">Nungua</option>
                                        <option value="Nungua East">Nungua East</option>
                                        <option value="Nungua Old Town">Nungua Old Town</option>
                                        <option value="Nungua-Zongo">Nungua-Zongo</option>
                                        <option value="Odorkor">Odorkor</option>
                                        <option value="Osu">Osu</option>
                                        <option value="Osu Ako-Adjei">Osu Ako-Adjei</option>
                                        <option value="Oyarifa">Oyarifa</option>
                                        <option value="Pokuase">Pokuase</option>
                                        <option value="Ringway Estates">Ringway Estates</option>
                                        <option value="Ridge">Ridge</option>
                                        <option value="Roman Ridge">Roman Ridge</option>
                                        <option value="Sakaman">Sakaman</option>
                                        <option value="Shiashie">Shiashie</option>
                                        <option value="South La">South La</option>
                                        <option value="South Odorkor">South Odorkor</option>
                                        <option value="Sukura">Sukura</option>
                                        <option value="T/Junction">T/Junction</option>
                                        <option value="Tantra Hill">Tantra Hill</option>
                                        <option value="Teshie New Town">Teshie New Town</option>
                                        <option value="Taifa">Taifa</option>
                                        <option value="Teshie Old Town">Teshie Old Town</option>
                                        <option value="Teshie-Nungua Estates">Teshie-Nungua Estates</option>
                                        <option value="Trassacco Valley Estates">Trassacco Valley Estates</option>
                                        <option value="West Legon">West Legon</option>

                                    </select>
                                </div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="icon-briefcase"></i>
										</span>
									</div>
									<div class="col-md-10">
										<select class="form-control" id="select2" name="type">
											<option value="0">What are you?</option>
											<option value="Administrator">Administrator</option>
											<option value="Project Manager">Project Manager</option>
											<option value="Field Worker">Field Worker</option>
										</select>
									</div>
								</div>
								<div class="input-group mb-4">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="icon-lock"></i>
										</span>
									</div>
									<input class="form-control" name="password" type="password" placeholder="Password">
								</div>
								<div class="input-group mb-4">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="icon-lock"></i>
										</span>
									</div>
									<input class="form-control" name="confirmpassword" type="password" placeholder="Confirm Password">
								</div>
								<div class="row">
									<div class="col-6">
										<button type="submit" class="btn btn-primary px-4" type="button">Register</button>
									</div>
									<div class="col-6 text-right">
										<button class="btn btn-link px-0" type="button">Forgot password?</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
						<div class="card_body_align card-body text-center">
							<div>
								<h2>Sign In</h2>
								<p><p><img src="/images/pmlogo.png" alt="DHC logo" class="roundimage2"></p></p>
								<button onclick="gotologin()" class="btn btn-primary active mt-3" type="button">Login Now!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function gotologin(){
		console.log("not logged in");
		window.location = '/';
	}
</script>
