<main class="main">
	<div class="container-fluid">
		<div id="ui-view">
			<br>
			<!-- /.row-->
			<div class="row">
				<div class="col-md-5">
					<div class="card">
						<div class="card-header">
							<strong>Create New Task</strong></div>
						<div class="card-body">
							<form class="form-horizontal" method="post" enctype="application/x-www-form-urlencoded">

								<div class="form-group row">
									{{!-- <label class="col-md-3 col-form-label" for="select1">Assign Coordinator</label> --}}
									<div class="col-md-12">
										<select class="form-control" id="select1" name="projectsId">
											<option value="0">Please Select A Project For Task</option>
											{{#each projects}}
												<option value={{_id}}>{{projectName}}</option>
											{{/each}}
										</select>
									</div>
								</div>

								<div class="form-group row">
									{{!-- <label class="col-md-3 col-form-label" for="text-input">Task Name</label> --}}
									<div class="col-md-12">
										<input class="form-control" id="taskName" type="text" name="taskName"
											placeholder="Team Name">
										<span class="help-block">Give a name to the task</span>
									</div>
								</div>

								<div class="form-group row">
									{{!-- <label class="col-md-3 col-form-label" for="textarea-input">Task Description</label> --}}
									<div class="col-md-12">
										<textarea class="form-control" id="textarea-input" name="taskDescription"
											rows="5" placeholder="Description ..."></textarea>
									</div>
								</div>

								<div class="form-group row">
									{{!-- <label class="col-md-3 col-form-label" for="select1">Assign Coordinator</label> --}}
									<div class="col-md-12">
										<select class="form-control" id="select1" name="coordinator">
											<option value="0">Please Assign Coordinator</option>
											{{#each pcs}}
												<option value={{mobile}}>{{coordinatorName}}</option>
											{{/each}}
										</select>
									</div>
								</div>
								<div class="form-group row">
									{{!-- <label class="col-md-3 col-form-label" for="date-input">Start Date</label> --}}
									<div class="col-md-12">
										<input class="form-control" id="date-input" type="date" name="startDate" placeholder="Start Date">
										<span class="help-block">Please enter a valid date</span>
									</div>
								</div>
								<div class="form-group row">
									{{!-- <label class="col-md-3 col-form-label" for="date-input">End Date</label> --}}
									<div class="col-md-12">
										<input class="form-control" id="date-input" type="date" name="endDate" placeholder="End Date">
										<span class="help-block">Please enter a valid date</span>
									</div>
								</div>

								<div class="card-footer">
									<button class="btn btn-sm btn-primary" type="submit">
										<i class="fa fa-dot-circle-o"></i> Submit</button>
									<button class="btn btn-sm btn-danger" type="reset">
										<i class="fa fa-ban"></i> Reset</button>
								</div>

							</form>
						</div>
					</div>
				</div>

				<div class="col-md-7">
					<div class="card">
						<div class="card-header text-center">
							<strong>Tasks</strong></div>
							<div class="card-body">
								<table class="table table-responsive-sm table-bordered">
									<thead>
										<tr>
											<th>Name</th>
											<th>Start</th>
											<th>End</th>
											<th>Coordinator</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{{#each tasks}}
										<tr>
											<td hidden>{{_id}}</td>
											<td>{{taskName}}</td>
											<td>{{startDate}}</td>
											<td>{{endDate}}</td>
											<td>{{projectCoredinator.coordinatorName}}</td>
											<td>
												<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
													<button class="btn btn-block btn-danger active" id="lId" onclick=deleteMethod() value="{{_id}}" aria-pressed="true">Delete</button>
													<button class="btn btn-block btn-primary active" id="lId" onclick=callUpdate() value="{{_id}}" aria-pressed="true">Update</button>
												</div>
											</td>
										</tr>
										{{/each}}

										<script>
											var table = document.getElementsByTagName("table")[0];
											var tbody = table.getElementsByTagName("tbody")[0];

											function deleteMethod() {
												window.location.reload();
												tbody.onclick = function (e) {
													e = e || window.event;
													var data = [];
													var target = e.srcElement || e.target;
													while (target && target.nodeName !== "TR") {
														target = target.parentNode;
													}
													if (target) {
														var cells = target.getElementsByTagName("td");
														for (var i = 0; i < cells.length; i++) {
															data.push(cells[i].innerText);
														}
													}
													console.log("id: " + data[0]);

													axios.delete('/addprojects', {
														data:{
															projectId: data[0]
														}
													}).then((res) => {
														console.log(res)
														window.location.reload();
													})
												};
											}

											//update level
											var pName = document.getElementById('name');
											var pdesc = document.getElementById('textarea-input');
											var pduration = document.getElementById('duration');
											var plocation = document.getElementById('location');

											var name = '';
											var desc = '';
											var duration = '';
											var loc = '';

											function callUpdate(){
												tbody.onclick = function (e) {
													e = e || window.event;
													var data = [];
													var target = e.srcElement || e.target;
													while (target && target.nodeName !== "TR") {
														target = target.parentNode;
													}
													if (target) {
														var cells = target.getElementsByTagName("td");
														for (var i = 0; i < cells.length; i++) {
															data.push(cells[i].innerText);
														}
													}

													ids = data[0];
													name = data[1];
													desc = data[2];
													duration = data[3];
													loc = data[4];

													callOutMethod(ids,name,desc);
												};

												function callOutMethod(iding,naming,description){
													console.log("id: " + iding);
													console.log("name: " + naming);
													console.log("desc: " + description);

													pName.setAttribute('value',naming);
													pdesc.setAttribute('value', desc);
													pduration.setAttribute('value', duration);
													plocation.setAttribute('value', loc);

													document.getElementById('updategroup').hidden=false;
													document.getElementById('creategroup').hidden=true;
												}
											}

											function updateNow() {
												console.log(ids);
												window.location.reload();
												$.ajax({
													method: 'patch',
													url: '/addprojects',
													data: {
														'projectId': ids,
														'projectName': pName.value,
														'projectDescription': pdesc.value,
														'projectDuration': pduration.value,
														'location': plocation.value,
													}
												}).done(function (msg) {
													console.log(msg);
													window.location.reload();
												});
											}
										</script>

									</tbody>
								</table>
							</div>
						</div>

				</div>
			</div>
		</div>
	</div>
</main>
