<main class="main">
	<div class="container-fluid">
		<div id="ui-view">

			<div class="section group">
				{{#each data}}
					<div class="col span_1_of_4">
						<div class="card">
							<div class="card-header">
								<span>Project Name:
									<h3>{{teamName}}</h3>
								</span>
								<span>Project:
									<h4>{{teamProject}}</h4>
								</span>
							</div>
							<div class="title">
								<span>
									<p class="desc">{{teamPurpose}}</p>
									<hr>
									<p><span>Date: </span>{{dateCreated}}</p>
								</span>
								<p><span>Team of: </span>{{teamMembers.length}} members</p>
							</div>
							<button type="button" class="buttonSize btn btn-sm btn-css3">More</button>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</main>

<style>
	/*  SECTIONS  */
	p{
		margin-left: 8px;
		margin-right: 8px;
	}

    .buttonSize{
		display: block;
		margin-top: 20px;
		margin-left: 4px;
		margin-right: 4px;
		margin-bottom: 4px;
	}
	.card-header{
		height: 170px;
		background-color: #22b1dd;
		border-color: transparent;
	}
	.title{
		color: #fff;
	}
	.desc{
		padding-left: 4px;
		margin-top: 4px;
		font-size: 13pt;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-size-adjust: inherit;
		font-weight: 400;
	}
	.card {
		background-color: #434c54 !important;
		height: 400px;
	}
	.section {
		clear: both;
		padding: 0;
		margin: 0;
	}

	/*  COLUMN SETUP  */
	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 0%;
	}
	.col:first-child { margin-left: 0; }

	/*  GROUPING  */
	.group:before,
	.group:after { content:""; display:table; }
	.group:after { clear:both;}
	.group { zoom:1; /* For IE 6/7 */ }

	/*  GRID OF FOUR  */
	.span_4_of_4 {
		width: 100%;
	}
	.span_3_of_4 {
		width: 74.6%;
	}
	.span_2_of_4 {
		width: 49.2%;
	}
	.span_1_of_4 {
		width: 23.8%;
	}

	/*  GO FULL WIDTH BELOW 480 PIXELS */
	@media only screen and (max-width: 480px) {
		.col {  margin: 1% 0 1% 0%; }
		.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
	}
</style>
