<main class="main">
	<div class="container-fluid">
		<div id="ui-view">
			<br>
			<!-- /.row-->
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<strong>Create New Team</strong></div>
						<div class="card-body">
							<form class="form-horizontal" action="" method="post" enctype="application/x-www-form-urlencoded">

								<div class="form-group">
									<input class="form-control" id="teamName" type="text" name="teamName"
											placeholder="Team Name">
										<span class="help-block">Give a name to the team</span>
								</div>

								<div class="form-group">
									<textarea class="form-control" id="textarea-input" name="teamPurpose"
											rows="4" placeholder="Purpose of the team ..."></textarea>
								</div>

								{{!-- <div class="form-group">
									<select class="form-control" id="select1" name="teamProject">
										<option value="0">Please select project</option>
										{{#each projects}}
										<option value={{projectName}}>{{projectName}}</option>
										{{/each}}
									</select>
								</div> --}}
								<div class="form-group">
									<select class="form-control" id="select2" name="teamTask">
										<option value="0">Please select task</option>
										{{#each tasks}}
										<option value={{_id}}>{{taskName}}</option>
										{{/each}}
									</select>
								</div>

								<div class="form-group">
									<select class="form-control" id="multiple-select" name="teamMembers" size="12" multiple="">
										{{#each workers}}
										<option value={{officerName}}>{{officerName}}</option>
										{{/each}}
									</select>
									<span class="help-block">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</span>
								</div>
								<div class="card-footer">
									<button class="btn btn-sm btn-primary" type="submit">
										<i class="fa fa-dot-circle-o"></i> Submit</button>
									<button class="btn btn-sm btn-danger" type="reset">
										<i class="fa fa-ban"></i> Reset</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="col-md-8">
					<div class="card">
						<div class="card-header text-center">
							<strong>The Team</strong></div>
						<div class="card-body">
							<table class="table table-responsive-sm table-bordered">
									<thead>
										<tr>
											<th>Name</th>
											<th>Start</th>
											<th>No. Of Members</th>
											<th>Coordinator</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{{#each data}}
										<tr>
											<td hidden>{{_id}}</td>
											<td>{{teamName}}</td>
											<td>{{teamTask.startDate}}</td>
											<td>{{teamMembers.length}}</td>
											<td>{{teamTask.projectCoredinator.coordinatorName}}</td>
											<td>
												<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
													<button class="btn btn-block btn-danger active" id="lId" onclick=deleteMethod() value="{{_id}}" aria-pressed="true">Delete</button>
													<button class="btn btn-block btn-primary active" id="lId" onclick=callUpdate() value="{{_id}}" aria-pressed="true">Update</button>
												</div>
											</td>
										</tr>
										{{/each}}

										<script>
											var table = document.getElementsByTagName("table")[0];
											var tbody = table.getElementsByTagName("tbody")[0];

											function deleteMethod() {
												window.location.reload();
												tbody.onclick = function (e) {
													e = e || window.event;
													var data = [];
													var target = e.srcElement || e.target;
													while (target && target.nodeName !== "TR") {
														target = target.parentNode;
													}
													if (target) {
														var cells = target.getElementsByTagName("td");
														for (var i = 0; i < cells.length; i++) {
															data.push(cells[i].innerText);
														}
													}
													console.log("id: " + data[0]);

													axios.delete('/addprojects', {
														data:{
															projectId: data[0]
														}
													}).then((res) => {
														console.log(res)
														window.location.reload();
													})
												};
											}

											//update level
											var pName = document.getElementById('name');
											var pdesc = document.getElementById('textarea-input');
											var pduration = document.getElementById('duration');
											var plocation = document.getElementById('location');

											var name = '';
											var desc = '';
											var duration = '';
											var loc = '';

											function callUpdate(){
												tbody.onclick = function (e) {
													e = e || window.event;
													var data = [];
													var target = e.srcElement || e.target;
													while (target && target.nodeName !== "TR") {
														target = target.parentNode;
													}
													if (target) {
														var cells = target.getElementsByTagName("td");
														for (var i = 0; i < cells.length; i++) {
															data.push(cells[i].innerText);
														}
													}

													ids = data[0];
													name = data[1];
													desc = data[2];
													duration = data[3];
													loc = data[4];

													callOutMethod(ids,name,desc);
												};

												function callOutMethod(iding,naming,description){
													console.log("id: " + iding);
													console.log("name: " + naming);
													console.log("desc: " + description);

													pName.setAttribute('value',naming);
													pdesc.setAttribute('value', desc);
													pduration.setAttribute('value', duration);
													plocation.setAttribute('value', loc);

													document.getElementById('updategroup').hidden=false;
													document.getElementById('creategroup').hidden=true;
												}
											}

											function updateNow() {
												console.log(ids);
												window.location.reload();
												$.ajax({
													method: 'patch',
													url: '/addprojects',
													data: {
														'projectId': ids,
														'projectName': pName.value,
														'projectDescription': pdesc.value,
														'projectDuration': pduration.value,
														'location': plocation.value,
													}
												}).done(function (msg) {
													console.log(msg);
													window.location.reload();
												});
											}
										</script>

									</tbody>
								</table>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>
