<main class="main">
	<div class="container-fluid">
		<div id="ui-view">

			{{#if failed}}
			<div class="row">
				<div class="card-body col-sm-5">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Hello Admin!</strong> You should a new level name below.
						<strong>{{data.officerName}}</strong> is already created.
						<button class="close" type="button" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
			{{else}}
			<br />
			{{/if}}

			{{#if errorMessage}}
			<div class="row">
				<div class="card-body col-sm-5">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Hello Admin!</strong> I think you should know this,
						<strong>{{errorMessage}}</strong>.
						<button class="close" type="button" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
			{{else}}
			{{/if}}

			{{#if message}}
			<div class="row">
				<div class="card-body col-sm-5">
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<strong>Hello Admin!</strong> I think you should know this,
						<strong>{{message.name}} has successfully been created.</strong>.
						<button class="close" type="button" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
			{{else}}

			{{/if}}

			<div class="row">
				<div class="col-sm-5">
					<div class="card">
						<div class="card-header">
							<strong>Add New Field Officer</strong> Form</div>
						<div class="card-body">
							<form method="post" enctype="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <label class="form-col-form-label" for="">Name</label>
                                    <select class="form-control" id="mobileNumber" name="mobileNumber">
                                        <option value="0">Select a worker</option>
                                        {{#each workerData as |value|}}
                                            <option value={{value.mobileNumber}}>{{value.firstName}} {{value.lastName}}</option>
                                        {{/each}}
                                    </select>
                                </div>

								<div id="creategroup" class="form-group">
									<button type="submit" class="btn btn-pill btn-block btn-primary">ADD FIELD OFFICER</button>
								</div>
							</form>
							<div id="updategroup" hidden class="form-group">
									<button id="updateBtn" onclick="updateNow()" class="btn btn-pill btn-block btn-primary">UPDATE OFFICER</button>
								</div>
						</div>
					</div>
				</div>

				<div class="col-lg-7">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-align-justify"></i> Manage Field Officers</div>
						<div class="card-body">
							<table class="table table-responsive-sm table-bordered">
								<thead>
									<tr>
										{{!-- <th>Name</th>
										<th>Gender</th>
										<th>Mobile Number</th>
										<th>Location</th> --}}
									</tr>
								</thead>
								<tbody>
									{{#each allData}}
									<tr>
										<td hidden>{{_id}}</td>
										<td>{{officerName}}</td>
										<td>{{gender}}</td>
										<td>{{mobile}}</td>
										<td>{{location}}</td>
										<td>
											<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
												<button class="btn btn-block btn-danger active" id="lId" onclick=deleteMethod() value="{{_id}}" aria-pressed="true">Delete</button>
											</div>
										</td>
										<td>
											<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
												<button class="btn btn-block btn-primary active" id="lId" onclick=callUpdate() value="{{_id}}" aria-pressed="true">Update</button>
											</div>
										</td>
									</tr>
									{{/each}}

									<script>
										var table = document.getElementsByTagName("table")[0];
										var tbody = table.getElementsByTagName("tbody")[0];

										function deleteMethod() {
											window.location.reload();
											tbody.onclick = function (e) {
												e = e || window.event;
												var data = [];
												var target = e.srcElement || e.target;
												while (target && target.nodeName !== "TR") {
													target = target.parentNode;
												}
												if (target) {
													var cells = target.getElementsByTagName("td");
													for (var i = 0; i < cells.length; i++) {
														data.push(cells[i].innerText);
													}
												}
												console.log("id: " + data[0]);

												axios.delete('/addfieldofficer', {
													data:{
														officerId: data[0]
													}
												}).then((res) => {
													console.log(res)
													window.location.reload();
												})
											};
										}

										//update level
										var levelName = document.getElementById('name');
										var levelRate = document.getElementById('mobileNumber');
										var gender = document.getElementById('select1');
										var age = document.getElementById('age');
										var loc = document.getElementById('location');

										var lName = '';
										var lMobile = '';
										var ids = '';

										function callUpdate(){
											tbody.onclick = function (e) {
												e = e || window.event;
												var data = [];
												var target = e.srcElement || e.target;
												while (target && target.nodeName !== "TR") {
													target = target.parentNode;
												}
												if (target) {
													var cells = target.getElementsByTagName("td");
													for (var i = 0; i < cells.length; i++) {
														data.push(cells[i].innerText);
													}
												}

												ids = data[0];
												lName = data[1];
												lMobile = data[3];

												callOutMethod(ids,lName,lMobile);
											};

											function callOutMethod(iding,naming,mobile){
												console.log("id: " + iding);
												console.log("name: " + naming);
												console.log("mobile: " + lMobile);

												levelName.setAttribute('value',naming);
												levelRate.setAttribute('value', lMobile);

												document.getElementById('updategroup').hidden=false;
												document.getElementById('creategroup').hidden=true;
											}
										}

										function updateNow() {
											console.log(ids);
											console.log(lMobile);
											window.location.reload();
											$.ajax({
												method: 'patch',
												url: '/addfieldofficer',
												data: {
													'officerId': ids,
													'officerName': lName,
													'officerMobile': lMobile,
													'officerGender': gender.value,
													'officerAge': age.value,
													'officerLocation': loc.value
												}
											}).done(function (msg) {
												console.log(msg);
												window.location.reload();
											});
										}
									</script>
								</tbody>
							</table>

						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</main>
