<main class="main">
	<div class="container-fluid">
		<div id="ui-view">

			{{#if failed}}
			<div class="row">
				<div class="card-body col-sm-5">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Hello Admin!</strong> You should a new level name below.
						<strong>{{data.coordinatorName}}</strong> is already created.
						<button class="close" type="button" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
			{{else}}
			<br />
			{{/if}}

			{{#if errorMessage}}
			<div class="row">
				<div class="card-body col-sm-5">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Hello Admin!</strong> I think you should know this,
						<strong>{{errorMessage}}</strong>.
						<button class="close" type="button" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
			{{else}}
			{{/if}}

			{{#if message}}
			<div class="row">
				<div class="card-body col-sm-5">
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<strong>Hello Admin!</strong> I think you should know this,
						<strong>{{message.coordinatorName}} has successfully been created.</strong>.
						<button class="close" type="button" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
				</div>
			</div>
			{{else}}

			{{/if}}

			<div class="row">
				<div class="col-sm-5">
					<div class="card">
						<div class="card-header">
							<strong>Add New Project Coordinator</strong></div>
						<div class="card-body">
							<form method="post" enctype="application/x-www-form-urlencoded">
								<div class="form-group">
									<label class="form-col-form-label" for="">Name</label>
									<input class="form-control" id="name" name="name" type="text"
										placeholder="Enter Name">
								</div>
								<div class="form-group">
									<label class="form-col-form-label" for="">mobileNumber</label>
									<input class="form-control" id="mobileNumber" name="mobileNumber" type="tel"
										placeholder="Enter Mobile Number">
									<div class="invalid-feedback">Please provide a valid informations.</div>
								</div>
								<div class="form-group">
									<label class="form-col-form-label" for="">Gender</label>
									<select class="form-control" id="select1" name="gender">
										<option value="0">Select Gender</option>
										<option value="Male">Male</option>
										<option value="Female">Female</option>
									</select>
								</div>
								<div class="form-group">
									<label class="form-col-form-label" for="">Age</label>
									<input class="form-control" id="age" name="age" type="number" placeholder="Enter Age">
									<div class="invalid-feedback">Please provide a valid informations.</div>
								</div>
                                <div class="form-group">
                                    <label class="col-form-label" for="appendedInput">City</label>
                                    <select class="form-control" id="location" name="location">
                                        <option value="0">Select location</option>
                                        <option value="Achimota">Achimota</option>
                                        <option value="Tesano">Tesano</option>
                                        <option value="East Legon">East Legon</option>
                                        <option value="Spintex">Spintex</option>
                                        <option value="Abeka La Paz">Abeka La Paz</option>
                                        <option value="Abelemkpe">Abelemkpe</option>
                                        <option value="Ablorh Adjei">Ablorh Adjei</option>
                                        <option value="Abokobi">Abokobi</option>
                                        <option value="Aborfu">Aborfu</option>
                                        <option value="Abossey Okai">Abossey Okai</option>
                                        <option value="Accra Central">Accra Central</option>
                                        <option value="Accra new Town">Accra new Town</option>
                                        <option value="Adabraka">Adabraka</option>
                                        <option value="Adenta">Adenta</option>
                                        <option value="Adjankote">Adjankote</option>
                                        <option value="Adjiriganor">Adjiriganor</option>
                                        <option value="Agbogba">Agbogba</option>
                                        <option value="Agbogbloshie">Agbogbloshie</option>
                                        <option value="Airport">Airport</option>
                                        <option value="Akatsi Abor">Akatsi Abor</option>
                                        <option value="Akweteman">Akweteman</option>
                                        <option value="Alajo">Alajo</option>
                                        <option value="Apenkwa">Apenkwa</option>
                                        <option value="Ashaley Botwe">Ashaley Botwe</option>
                                        <option value="Ashongman Estates">Ashongman Estates</option>
                                        <option value="Asylum Down">Asylum Down</option>
                                        <option value="Avenor">Avenor</option>
                                        <option value="Awoshie">Awoshie</option>
                                        <option value="Banana Inn">Banana Inn</option>
                                        <option value="Bubuashie">Bubuashie</option>
                                        <option value="Bukom">Bukom</option>
                                        <option value="Burma Camp">Burma Camp</option>
                                        <option value="Cantonments">Cantonments</option>
                                        <option value="Carprice">Carprice</option>
                                        <option value="Chantang">Chantang</option>
                                        <option value="Chorkor">Chorkor</option>
                                        <option value="Circle">Circle</option>
                                        <option value="Dansoman">Dansoman</option>
                                        <option value="Darkuman">Darkuman</option>
                                        <option value="Dome">Dome</option>
                                        <option value="Dzorwulu">Dzorwulu</option>
                                        <option value="East Legon (Okponglo)">East Legon (Okponglo)</option>
                                        <option value="Kanda Estate">Kanda Estate</option>
                                        <option value="Haatso">Haatso</option>
                                        <option value="Kaneshie">Kaneshie</option>
                                        <option value="Kantamanto">Kantamanto</option>
                                        <option value="Kasoa">Kasoa</option>
                                        <option value="Kokomlemle">Kokomlemle</option>
                                        <option value="Korle Gonno">Korle Gonno</option>
                                        <option value="Korle-Bu">Korle-Bu</option>
                                        <option value="Kotobabi">Kotobabi</option>
                                        <option value="Kwabenya">Kwabenya</option>
                                        <option value="Kwashieman">Kwashieman</option>
                                        <option value="La-Aborm">La-Aborm</option>
                                        <option value="Labone">Labone</option>
                                        <option value="Lartebiokorshie">Lartebiokorshie</option>
                                        <option value="Lashibi">Lashibi</option>
                                        <option value="Legon">Legon</option>
                                        <option value="Madina">Madina</option>
                                        <option value="Mallam">Mallam</option>
                                        <option value="Mallam Atta">Mallam Atta</option>
                                        <option value="Mamobi">Mamobi</option>
                                        <option value="Mamprobi">Mamprobi</option>
                                        <option value="Mataheko">Mataheko</option>
                                        <option value="McCarthy Hill">McCarthy Hill</option>
                                        <option value="New Achimota">New Achimota</option>
                                        <option value="New Aplaku Mandela">New Aplaku Mandela</option>
                                        <option value="New Ashongman">New Ashongman</option>
                                        <option value="New Fadama">New Fadama</option>
                                        <option value="New Mamprobi">New Mamprobi</option>
                                        <option value="New Weija">New Weija</option>
                                        <option value="Nii Boi Town">Nii Boi Town</option>
                                        <option value="Nima">Nima</option>
                                        <option value="North Kaneshie">North Kaneshie</option>
                                        <option value="North Legon">North Legon</option>
                                        <option value="North Ridge">North Ridge</option>
                                        <option value="Nungua">Nungua</option>
                                        <option value="Nungua East">Nungua East</option>
                                        <option value="Nungua Old Town">Nungua Old Town</option>
                                        <option value="Nungua-Zongo">Nungua-Zongo</option>
                                        <option value="Odorkor">Odorkor</option>
                                        <option value="Osu">Osu</option>
                                        <option value="Osu Ako-Adjei">Osu Ako-Adjei</option>
                                        <option value="Oyarifa">Oyarifa</option>
                                        <option value="Pokuase">Pokuase</option>
                                        <option value="Ringway Estates">Ringway Estates</option>
                                        <option value="Ridge">Ridge</option>
                                        <option value="Roman Ridge">Roman Ridge</option>
                                        <option value="Sakaman">Sakaman</option>
                                        <option value="Shiashie">Shiashie</option>
                                        <option value="South La">South La</option>
                                        <option value="South Odorkor">South Odorkor</option>
                                        <option value="Sukura">Sukura</option>
                                        <option value="T/Junction">T/Junction</option>
                                        <option value="Tantra Hill">Tantra Hill</option>
                                        <option value="Teshie New Town">Teshie New Town</option>
                                        <option value="Taifa">Taifa</option>
                                        <option value="Teshie Old Town">Teshie Old Town</option>
                                        <option value="Teshie-Nungua Estates">Teshie-Nungua Estates</option>
                                        <option value="Trassacco Valley Estates">Trassacco Valley Estates</option>
                                        <option value="West Legon">West Legon</option>

                                    </select>
                                </div>
								<div id="creategroup" class="form-group">
									<button type="submit" class="btn btn-pill btn-block btn-primary">ADD COORDINATOR</button>
								</div>
							</form>
							<div id="updategroup" hidden class="form-group">
									<button id="updateBtn" onclick="updateNow()" class="btn btn-pill btn-block btn-primary">UPDATE COORDINATOR</button>
								</div>
						</div>
					</div>
				</div>

				<div class="col-lg-7">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-align-justify"></i> Manage Project Coordinator</div>
						<div class="card-body">
							<table class="table table-responsive-sm table-bordered">
								<thead>
									<tr>
										{{!-- <th>Name</th>
										<th>Gender</th>
										<th>Mobile Number</th>
										<th>Location</th> --}}
									</tr>
								</thead>
								<tbody>
									{{#each allData}}
									<tr>
										<td hidden>{{_id}}</td>
										<td>{{coordinatorName}}</td>
										<td>{{gender}}</td>
										<td>{{mobile}}</td>
										<td>{{location}}</td>
										<td>
											<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
												<button class="btn btn-block btn-danger active" id="lId" onclick=deleteMethod() value="{{_id}}" aria-pressed="true">Delete</button>
											</div>
										</td>
										<td>
											<div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
												<button class="btn btn-block btn-primary active" id="lId" onclick=callUpdate() value="{{_id}}" aria-pressed="true">Update</button>
											</div>
										</td>
									</tr>
									{{/each}}

									<script>
										var table = document.getElementsByTagName("table")[0];
										var tbody = table.getElementsByTagName("tbody")[0];

										function deleteMethod() {
											window.location.reload();
											tbody.onclick = function (e) {
												e = e || window.event;
												var data = [];
												var target = e.srcElement || e.target;
												while (target && target.nodeName !== "TR") {
													target = target.parentNode;
												}
												if (target) {
													var cells = target.getElementsByTagName("td");
													for (var i = 0; i < cells.length; i++) {
														data.push(cells[i].innerText);
													}
												}
												console.log("id: " + data[0]);

												axios.delete('/addcoordinator', {
													data:{
														coordinatorId: data[0]
													}
												}).then((res) => {
													console.log(res)
													window.location.reload();
												})
											};
										}

										//update level
										var levelName = document.getElementById('name');
										var levelRate = document.getElementById('mobileNumber');
										var gender = document.getElementById('select1');
										var age = document.getElementById('age');
										var loc = document.getElementById('location');

										var lName = '';
										var lMobile = '';
										var ids = '';

										function callUpdate(){
											tbody.onclick = function (e) {
												e = e || window.event;
												var data = [];
												var target = e.srcElement || e.target;
												while (target && target.nodeName !== "TR") {
													target = target.parentNode;
												}
												if (target) {
													var cells = target.getElementsByTagName("td");
													for (var i = 0; i < cells.length; i++) {
														data.push(cells[i].innerText);
													}
												}

												ids = data[0];
												lName = data[1];
												lMobile = data[3];

												callOutMethod(ids,lName,lMobile);
											};

											function callOutMethod(iding,naming,mobile){
												console.log("id: " + iding);
												console.log("name: " + naming);
												console.log("mobile: " + lMobile);

												levelName.setAttribute('value',naming);
												levelRate.setAttribute('value', lMobile);

												document.getElementById('updategroup').hidden=false;
												document.getElementById('creategroup').hidden=true;
											}
										}

										function updateNow() {
											console.log(ids);
											console.log(lMobile);
											window.location.reload();
											$.ajax({
												method: 'patch',
												url: '/addcoordinator',
												data: {
													'coordinatorId': ids,
													'coordinatorName': lName,
													'coordinatorMobile': lMobile,
													'coordinatorGender': gender.value,
													'coordinatorAge': age.value,
													'coordinatorLocation': loc.value
												}
											}).done(function (msg) {
												console.log(msg);
												window.location.reload();
											});
										}
									</script>
								</tbody>
							</table>

						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</main>
